<!DOCTYPE HTML>
<html lang="es-ES">
<head>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Advent+Pro&subset=latin-ext' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/static/css/general.css">	
	<style type="text/css">
		

	</style>	
	<title> Citia </title>
</head>
<body>	
	<div id="wrapper">
		<h1 id="banner"> <a href="/">Citia </a> </h1> 
		<section> 
			<link rel="stylesheet" href="/static/css/post.css">	
			<script>
				(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=122501004554118";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			</script>

			<script>

				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			</script>

				<article>
					<div id="rightColumn" class="column">
						<!--img id="photoPost" src="/static/img/bg9.jpg" alt="_postName"-->	
						<img id="photoPost" src="" alt="_postName">	

							<div id="comments" style="display:none;">
								<h2 id="titleComments" class="subtitles"> Comentarios </h2>

								<form id="getComment" action="" >
									<label for="newComment"></label>
									<textarea id="newComment" > </textarea>
									<input type="submit" />
								</form>
								<ul id="oldComments">
									<li>
										<img class="userPhoto" src="/static/img/avatar.jpg" alt="">
										<p class="comment" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.  </p>
									</li>
									<li>
										<img class="userPhoto" src="/static/img/avatar.jpg" alt="">
										<p class="comment" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.  </p>
									</li>
									<li>
										<img class="userPhoto" src="/static/img/avatar.jpg" alt="">
										<p class="comment" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.  </p>
									</li>
									<li>
										<img class="userPhoto" src="/static/img/avatar.jpg" alt="">
										<p class="comment" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.  </p>
									</li>	
									<li>
										<img class="userPhoto" src="/static/img/avatar.jpg" alt="">
										<p class="comment" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.  </p>
									</li>		
									<li>
										<img class="userPhoto" src="/static/img/avatar.jpg" alt="">
										<p class="comment" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.  </p>
									</li>	
										
								</ul>
							</div>
					</div>

					<div id="leftColumn" class="column">
						<img id="map" src="/static/img/staticmap.png" alt="mapa" />
						<h2 id="titlePost" class="subtitles"> Lorem ipsum dolor <span id="num"> </span> </h1>

						<ul id="metadata">
							<li id="date"> Domingo 30 de julio de 2012</li>
							<li id="tags"> <label>TAGS:</label> bache, av-cuahutemoc, deslave </li>
							<li id="category"> <label>CATEGORÍA:</label> bache</li>
						</ul>
						<div id="share"> 
							<a href="https://twitter.com/share" class="twitter-share-button" data-lang="es">Twittear</a>
							<div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
						</div>

						<p id="decriptionPost"> 
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
						</p>
						<a id="verComentarios" href="#"> ver comentarios >> </a>
					</div>		
				</article>

			<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
			<script type="text/javascript" src="http://sdk.cocoafish.com/js/cocoafish-1.2.min.js"></script>
			<script type="text/javascript">
				$(document).ready(function() {
					
					if(parent.location.hash != ""){
						var numPost = parent.location.hash.split("#").join("");	
						$("img#photoPost").attr("src", "/static/img/bg" + numPost + ".jpg")
						$("span#num").text(numPost)
					}else{
						$("img#photoPost").attr("src", "/static/img/bg2.jpg")
						$("span#num").text("2")
					}

					$("a#verComentarios").toggle(
						function(e){ 
							e.preventDefault(); 
							$("img#photoPost").css("display", "none");
							$("div#comments").css("display", "block"); 
							$(this).text("ocultar comentarios <<");
						},
						function(e){ 
							e.preventDefault(); 
							$("div#comments").css("display", "none"); 
							$("img#photoPost").css("display", "block");
							$("a#verComentarios").text("ver comentarios >>");
						}
					);


				})
			</script>
		 </section>
	</div>

</html>
</body>